---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Agenda: Chela">
    <div class="p-10 bg-white shadow-xl mx-20 my-3">
        <div class="flex justify-center items-center">
            <img
                src="./abdiel.jpg"
                alt=""
                class="w-36 h-36 object-cover rounded-md mr-4"
            />
            <section class="text-center">
                <h3 class="text-3xl my-3">Angel Abdiel Cheal Vargas</h3>
            </section>
        </div>
        <footer class="text-center mt-3">
            <p><span class="font-bold">Edad:</span> 17 años</p>
            <p><span class="font-bold">Sexo:</span> Masculino</p>
            <p><span class="font-bold">Grado:</span> 4 Semestre</p>
            <p><span class="font-bold">Especialidad:</span> Programación</p>
            <p>
                <span class="font-bold">
                Características:
        </span>
                 Chico alto, rolliso, con lentes, me gusta trabajar,
                estudiar y descansar
            </p>
            <a href="/index">

                <button class="my-6 bg-sky-500 text-black rounded-md py-3 px-5 hover:scale-105  duration-300 hover:bg-sky-300 transition-all">Regresar</button>
            </a>
        </footer>
       
    </div>
</Layout>