<header class="bg-gray-200 p-4 text-center">
  <h1 class="text-black inline-block p-4 text-2xl">
    Agenda de los alumnos del <span class="block text-blue-950 text-3xl"
      >Cetis 45</span
    >
  </h1>
</header>
